<html>
    <head>
        <title>birdie</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- jQuery -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

        <!-- Font Awesome -->
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">


        <!-- CSS -->
        <link href="/css/friends_A.css" rel="stylesheet">
        <link href="/css/friends_B.css" rel="stylesheet">

        <!-- JS -->
        <script src='/js/bootstrap.min.js'></script>
        <script src='/js/friends.js'></script>


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
    </head>


    <body>

        <!--<nav class="navbar navbar-inverse navbar-fixed-left">
<div class = "container-fluid">


<div class = "navbar-header">
<button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#myNavbar">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<h1 class="navbar-brand visible-xs">birdie</h1>
</div>

<div class="collapse navbar-collapse" id="myNavbar">
<ul class="nav navbar-nav">
<li class = "nav-item active">
<a href=""><i class='fa fa-home' aria-hidden='true'></i></a>
</li>
<li> <a href="/home"> Home </a></li>
<li> <a href=""> Calendar </a></li>	
<li> <a href=""> Profile </a> </li>
<!--<li> <a href=""> Friends </a></li>

</ul>
</div>

</div>
</nav>-->


        <nav class="navbar navbar-fixed-bottom nav2">
            <div class="container-fluid">

                <ul class="nav navbar-nav">
                    <li>
                         <!-- back button --> 
            <div>
                <form>
                 <button id="back_button" class="btn-secondary" type="button" value="back"><i class="fas fa-angle-left"></i>

                 </button>
                </form>
            </div>  
                    </li>   
                    <li><a href="/profile"><i class="fas fa-user-circle" aria-hidden='true'></i></a></li>
                    <li><a href="/home"><i class='fas fa-home' aria-hidden='true'></i></a></li>
                    <li><a href="/calendar2"><i class="far fa-calendar-alt"></i></a></li>
                </ul>


            </div>
        </nav>

        <div class="container-fluid">

            <div class= "welcome">
                <div id="user">
                    <img src="" class="userphoto">
                    <i class="fas fa-user-circle fa-3x" aria-hidden='true' id="icon"></i>
                    <h2 class ="restaurant"> You want Phuoung Trang</h2>
                    <h5> Who do you want to eat with?</h5>
                </div>
                <br>
                <a id="solo-button" class="btn btn-secondary" href="/scheduled" role="button">Going solo</a>
            </div>


        {{#if viewAlt}}

            <!--Close friends-->
            <div class="close-friends">
                <h5 class="header">Close friends</h5>
                <table style="width: 88%" align="center">
                    <tbody>
                        <tr>
                            <td>
                                <a href="/confirm">
                                    <img src="/images/friends/addison-yee.jpg" class="friend"/><br>
                                    <p>Addison Yee</p>
                                </a>
                            </td>
                            <td>
                                <a href="/confirm">
                                    <img src="/images/friends/alex-kurland.jpg" class="friend"/>
                                    <p>Alex Kurland</p>
                                </a>
                            </td>
                            <td>
                                <a href="/confirm">
                                    <img src="/images/friends/avery.jpg" class="friend"/>
                                    <p>Avery Jones</p>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/confirm">
                                    <img src="/images/friends/colin-winkle.jpg" class="friend"/>
                                    <p>Colin Van Winkle</p>
                                </a>
                            </td>
                            <td>
                                <a href="/confirm">
                                    <img src="/images/friends/jasmine-simmons.jpg" class="friend"/>
                                    <p>Jasmine Simmons</p>
                                </a>
                            </td>
                            <td>
                                <a href="/confirm">
                                    <img src="/images/friends/midsen-penna.jpg" class="friend"/>
                                    <p>Madisen Penna</p>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <!--Other friends-->
            <div class="other-friends">
                <h5 class="header">Friends</h5>
                <table style="width: 88%" align="center">
                    <tbody>
                        <tr>
                            <td>
                                <a href="/confirm">
                                    <img src="/images/friends/katie-archer.jpg" class="friend"/><br>
                                    <p class="friend-name">Katie Archer</p>
                                </a>
                            </td>
                            <td>
                                <a href="/confirm">
                                    <img src="/images/friends/uday-govindswamy.jpg" class="friend"/>
                                    <p class="friend-name">Uday Govindswamy</p>
                                </a>
                            </td>
                            <td>
                                <a href="/confirm">
                                    <img src="/images/friends/tim-green.jpg" class="friend"/>
                                    <p class="friend-name">Tim Green</p>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/confirm">
                                    <img src="/images/friends/sarah-gemp.jpg" class="friend"/>
                                    <p class="friend-name">Sarah Gemperle</p>
                                </a>
                            </td>
                            <td>
                                <a href="/confirm">
                                    <img src="/images/friends/matt-van.jpg" class="friend"/>
                                    <p class="friend-name">Matthew Van Schalkwyk</p>
                                </a>
                            </td>
                            <td>
                                <a href="/confirm">
                                    <img src="/images/friends/kathryn.jpg" class="friend"/>
                                    <p class="friend-name">Kathryn Greenberg</p>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>



        {{else}}
            <!--Choose friends-->
            <div class="list-group">
                <a href="/confirm" class="list-group-item list-group-item-action flex-column align-items-start">
                    <i class="fas fa-user-circle fa-3x"></i>
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Andy Xia</h5>
                        <span class="badge badge-pill badge-success" style="background-color: #3bcc40">Now</span>
                    </div>
                </a>
                <a href="/confirm" class="list-group-item list-group-item-action flex-column align-items-start">
                    <i class="fas fa-user-circle fa-3x"></i>
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Vincent Cannalla</h5>
                        <span class="badge badge-pill badge-success">5 min</span>
                    </div>
                </a>
                <a href="/confirm" class="list-group-item list-group-item-action flex-column align-items-start">
                    <i class="fas fa-user-circle fa-3x"></i>
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Eunice Kim</h5>
                        <span class="badge badge-pill badge-success">21 min</span>
                    </div>
                </a>
                <a href="/confirm" class="list-group-item list-group-item-action flex-column align-items-start">
                    <i class="fas fa-user-circle fa-3x"></i>
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Bob Smith</h5>
                        <span class="badge badge-pill badge-success" style="background-color: #3bcc40">Now</span>
                    </div>
                </a>
                <a href="/confirm" class="list-group-item list-group-item-action flex-column align-items-start">
                    <i class="fas fa-user-circle fa-3x"></i>
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Lucy Smith</h5>
                        <span class="badge badge-pill badge-success">14 min</span>
                    </div>
                </a>
            </div>
        </div>


        {{/if}}

        <script src="https://code.jquery.com/jquery.js"></script>
        <script type="text/javascript">
            document.getElementById("back_button").onclick = function () {
                location.href = localStorage.prevRecommended;
            }
        </script>
    </body>
</html>
