<html>
<head>
	<title>birdie</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	 <!-- jQuery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
	
	<!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
	
	<!-- Font Awesome -->
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

	<!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                                    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-115069334-1', 'auto');
            ga('send', 'pageview');
        </script>
        <!-- End Google Analytics -->

	<!-- CSS -->
	<link href="/css/home.css" rel="stylesheet">

	
	<!-- JS -->
	<script src='/js/bootstrap.min.js'></script>
	<script src='/js/home.js'></script>
	
	<link href="https://fonts.googleapis.com/css?family=Numans" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>


<body>

<!--<nav class="navbar navbar-inverse navbar-fixed-left">
    <div class = "container-fluid">
		
		
		<div class = "navbar-header">
            <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1 class="navbar-brand visible-xs">birdie</h1>
        </div>

    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li class = "nav-item active">
                <a href=""><i class='fa fa-home' aria-hidden='true'></i></a>
            </li>
            <li> <a href="/home"> Home </a></li>
            <li> <a href=""> Calendar </a></li>	
			<li> <a href=""> Profile </a> </li>
			<!--<li> <a href=""> Friends </a></li>
            
        </ul>
    </div>

    </div>
</nav>-->
	
	
<nav class="navbar navbar-fixed-bottom nav2">
	<div class="container-fluid">
    
		<ul class="nav navbar-nav">
            <li><a href="/profile"><img src="/images/avatar.png" class="profile"></a></li>
            <li><div style="width: 50px">&nbsp;</div></li>
            <li><a href="/home"><img src="/images/birdhouse.png"></a></li>
            <li><div style="width: 50px">&nbsp;</div></li>
            <li><a href="/calendar2"><img src="/images/calendar.png"></a></li>
    	</ul>
	</div>
</nav>
		
	<div class="container-fluid">

		<div class= "welcome">
			<div id="user">
				<img src="" class="userphoto">
                <i class="fas fa-user-circle fa-3x" aria-hidden='true' id="icon"></i>
				<h2 id = "name" ></h2>
				<h5> What are you craving today?</h5>
            </div>
            <br>
            <a class="btn btn-secondary" href="/recommended" role="button">Choose for me!</a>
		</div>


		<!-- food divs -->
		<!-- vietnamese -->
        <a href="/recommended/vietnamese" style="text-decoration: none;">
            <div id="fooddiv">
                <div class="foodpictures" align="center">
                    <img src="images/food/vietnamese/viet1.jpg" id="rightimage">
                    <img src="images/food/vietnamese/viet2.jpg" id="foodimage">
                    <img src="images/food/vietnamese/viet3.jpg" id="foodimage">
                    <img src="images/food/vietnamese/viet4.jpg" id="leftimage">
                    <a href="/recommended/vietnamese"><h4 id="foodname">Vietnamese</h4></a>
                </div>
            </div>
        </a>
		<br>

		<!-- barbecue -->
		<a href="/recommended/barbecue" style="text-decoration: none;">
			<div id="fooddiv">
				<div class="foodpictures" align="center">
					<img src="images/food/barbecue/barb1.jpg" id="rightimage">
					<img src="images/food/barbecue/barb2.jpg" id="foodimage">
					<img src="images/food/barbecue/barb3.jpg" id="foodimage">
					<img src="images/food/barbecue/barb4.jpg" id="leftimage">
					<a href="/recommended/barbecue"><h4 id="foodname">Barbecue</h4></a>
				</div>
			</div>
		</a>
		<br>

		<!-- seafood -->
		<a href="/recommended/seafood" style="text-decoration: none;">
			<div id="fooddiv">
				<div class="foodpictures" align="center">
					<img src="images/food/seafood/sea1.jpg" id="rightimage">
					<img src="images/food/seafood/sea2.jpg" id="foodimage">
					<img src="images/food/seafood/sea3.jpg" id="foodimage">
					<img src="images/food/seafood/sea4.jpg" id="leftimage">
					<a href="/recommended/seafood"><h4 id="foodname">Seafood</h4></a>
				</div>
			</div>
		</a>
		<br>
  				
  		<!-- mexican -->
		<a href="/recommended/mexican" style="text-decoration: none;">
			<div id="fooddiv">
				<div class="foodpictures" align="center">
					<img src="images/food/mexican/mex1.jpg" id="rightimage">
					<img src="images/food/mexican/mex2.jpg" id="foodimage">
					<img src="images/food/mexican/mex3.jpg" id="foodimage">
					<img src="images/food/mexican/mex4.jpg" id="leftimage">
					<a href="/recommended/mexican"><h4 id="foodname">Mexican</h4></a>
				</div>
			</div>
		</a>
		<br>
		
		<!-- chinese -->
		<a href="/recommended/chinese" style="text-decoration: none;">
			<div id="fooddiv">
				<div class="foodpictures" align="center">
					<img src="images/food/chinese/chin1.jpg" id="rightimage">
					<img src="images/food/chinese/chin2.jpg" id="foodimage">
					<img src="images/food/chinese/chin3.jpg" id="foodimage">
					<img src="images/food/chinese/chin4.jpg" id="leftimage">
					<a href="/recommended/china"><h4 id="foodname">Chinese</h4></a>
				</div>
			</div>
		</a>
		<br>

  		<!-- korean -->
		<a href="/recommended/korean" style="text-decoration: none;">
			<div id="fooddiv">
				<div class="foodpictures" align="center">
					<img src="images/food/korean/kor1.jpg" id="rightimage">
					<img src="images/food/korean/kor2.jpg" id="foodimage">
					<img src="images/food/korean/kor3.jpg" id="foodimage">
					<img src="images/food/korean/kor4.jpg" id="leftimage">
					<a href="/recommended/korean"><h4 id="foodname">Korean</h4></a>
				</div>
			</div>
		</a>
		<br>

		<!-- burgers -->
		<a href="/recommended/burger" style="text-decoration: none;">
			<div id="fooddiv">
				<div class="foodpictures" align="center">
					<img src="images/food/burger/burger1.jpg" id="rightimage">
					<img src="images/food/burger/burger2.jpg" id="foodimage">
					<img src="images/food/burger/burger3.jpg" id="foodimage">
					<img src="images/food/burger/burger4.jpg" id="leftimage">
					<a href="/recommended/burger"><h4 id="foodname">Burgers</h4></a>
				</div>
			</div>
		</a>
		<br>

		<!-- burgers -->
		<a href="/recommended/ice-cream" style="text-decoration: none;">
			<div id="fooddiv">
				<div class="foodpictures" align="center">
					<img src="images/food/icecream/ice1.jpg" id="rightimage">
					<img src="images/food/icecream/ice2.jpg" id="foodimage">
					<img src="images/food/icecream/ice3.jpg" id="foodimage">
					<img src="images/food/icecream/ice4.jpg" id="leftimage">
					<a href="/recommended/ice-cream"><h4 id="foodname">Ice Cream</h4></a>
				</div>
			</div>
		</a>
		<br>

		<!-- vegan -->
		<a href="/recommended/vegan" style="text-decoration: none;">
			<div id="fooddiv">
				<div class="foodpictures" align="center">
					<img src="images/food/vegan/vegan1.jpg" id="rightimage">
					<img src="images/food/vegan/vegan2.jpg" id="foodimage">
					<img src="images/food/vegan/vegan3.jpg" id="foodimage">
					<img src="images/food/vegan/vegan4.jpg" id="leftimage">
					<a href="/recommended/vegan"><h4 id="foodname">Vegan Food</h4></a>
				</div>
			</div>
		</a>
		<br>

		<!-- boba -->
		<a href="/recommended/boba" style="text-decoration: none;">
			<div id="fooddiv">
				<div class="foodpictures" align="center">
					<img src="images/food/boba/boba1.jpg" id="rightimage">
					<img src="images/food/boba/boba2.jpg" id="foodimage">
					<img src="images/food/boba/boba3.jpg" id="foodimage">
					<img src="images/food/boba/boba4.jpg" id="leftimage">
					<a href="/recommended/boba"><h4 id="foodname">Boba</h4></a>
				</div>
			</div>
		</a>
		<br>

	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>
