<!DOCTYPE html>
<html lang="en" >


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-signin-client_id" content="524241318936-6pa926ve3e7epjlmr4b4d8tee2hmq3qb.apps.googleusercontent.com">
  <title>Sign-Up/Login Form</title>
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
  <link rel="stylesheet" href="css/login.css">

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  

    <script  src="js/login.js"></script>
    {{> facebook}}
    <script src="js/facebook.js"></script>
    <!-- google login -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="js/google.js"></script>
    <script>
      function saveName(){
        console.log("in savename");
        var user = document.getElementById("username").value;
        console.log(user.substring(0, user.indexOf("@")));
        localStorage.username = user.substring(0, user.indexOf("@"));
        console.log(localStorage.username);
      }
    </script>

  
</head>

<body>

  <div class="form" id="loginForm">
      
      <ul class="tab-group">
        <li class="tab active"><a href="#login">Log In</a></li>
        <li class="tab"><a href="#signup">Sign Up</a></li>
      </ul>
      
      <div class="tab-content">
        
        
        <div id="login">   
          <h1>Welcome Back!</h1>
          
          <form action="/login" method="post">
          
            <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input id="username" type="email"required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div>

          

          <p class="forgot"><a href="#">Forgot Password?</a></p>

          
          <button class="button button-block" onclick="saveName()">Log In</button>
          
          <br>

          <!-- google login -->
          <!-- div class="g-signin2" id="button" data-onsuccess="onSignIn"></div> -->
          <div class="g-signin2" data-width="167" data-height="28" data-longtitle="true" data-theme = "dark" data-onsuccess="onSignIn"></div>
          
          <br>
          
          <!-- fb login --> 
          <!--<fb:login-button id="button" scope="public_profile,email" onlogin="checkLoginState();"> </fb:login-button> -->
          
          <div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" scope="public_profile,email,user_friends" onlogin="checkLoginState();"></div>


          </form>

        </div>

        <div id="signup">   
          <h1>Sign Up for Free</h1>
          
          <form action="/login" method="post">
          
          <div class="top-row">
            <div class="field-wrap">
              <label>
                First Name<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" />
            </div>
        
            <div class="field-wrap">
              <label>
                Last Name<span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off"/>
            </div>
          </div>

          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Set A Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div>
          
          <button type="submit" class="button button-block"/>Get Started</button>
          
          </form>

        </div>
        
      </div><!-- tab-content -->
      
</div> <!-- /form -->
    



</body>

</html>
