<html>
    <head>
        <title>birdie</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- jQuery -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

        <!-- Font Awesome -->
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">


        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                                    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-115069334-1', 'auto');
            ga('send', 'pageview');
        </script>
        <!-- End Google Analytics -->

        <!-- CSS -->
        <link href ="/css/profile.css" rel="stylesheet">
        <link href ="/css/dropdown.css" rel="stylesheet">

        <!-- JS -->
        <script src='/js/bootstrap.min.js'></script>
        <script src='/js/profile.js'></script>
        
        <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,600,700,800" rel="stylesheet">

        
    </head>

    <body>

        <nav class="navbar navbar-fixed-bottom nav2">
            <div class="container-fluid">

                <ul class="nav navbar-nav">
                    <li><a href="/profile"><img src="/images/avatar.png" class="profile"></a></li>
                    <li><div style="width: 50px">&nbsp;</div></li>
                    <li><a href="/home"><img src="/images/birdhouse.png"></a></li>
                    <li><div style="width: 50px">&nbsp;</div></li>
                    <li><a href="/calendar2"><img src="/images/calendar.png"></a></li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="profile-top">
                <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td width="40%">
                                <i class="fas fa-user-circle fa-5x" aria-hidden='true' id="icon"></i>
                                <img class="profilepic userphoto" id="changepic" src="#"/>
                            </td>
                            <td width="60%">
                                <div class="username" id="thisone">Eason Chang</div>
                                <div class="description">Big foodie</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="profile-bottom">
                <div class="info-left">
                    <h5>Favorite food:</h5><br>
                    <h5>Disliked food:</h5><br>
                    <h5>Allergies:</h5><br>
                    <h5>Can drive:</h5><br>
                    <h5>Budget:</h5>
                </div>

                <div class="info-right">
                    <form id="profile_form">
                    <div class="input-group mb-3 favfoo">
                        <select name="favorite" form="favorite" class="custom-select" id="favorite">
                            <option value="0">Choose...</option>
                            <option value="American">American</option>
                            <option value="Chinese">Chinese</option>
                            <option value="Ethiopian">Ethiopian</option>
                            <option value="Filipino">Filipino</option>
                            <option value="French">French</option>
                            <option value="German">German</option>
                            <option value="Indian">Indian</option>
                            <option value="Indonesian">Indonesian</option>
                            <option value="Italian">Italian</option>
                            <option value="Japanese">Japanese</option>
                            <option value="Korean">Korean</option>
                            <option value="Mediterranean">Mediterranean</option>
                            <option value="Mexican">Mexican</option>
                            <option value="Peruvian">Peruvian</option>
                            <option value="Portuguese">Portuguese</option>
                            <option value="Spanish">Spanish</option>
                            <option value="Taiwanese">Taiwanese</option>
                            <option value="Thai">Thai</option>
                            <option value="Vietnamese">Vietnamese</option>
                        </select>
                    </div>
                    <div style="height: 53px">&nbsp;</div>
                    <div class="input-group mb-3 disfood">
                        <select class="custom-select" id="disliked">
                            <option value="0" selected>Choose...</option>
                            <option value="American">American</option>
                            <option value="Chinese">Chinese</option>
                            <option value="Ethiopian">Ethiopian</option>
                            <option value="Filipino">Filipino</option>
                            <option value="French">French</option>
                            <option value="German">German</option>
                            <option value="Indian">Indian</option>
                            <option value="Indonesian">Indonesian</option>
                            <option value="Italian">Italian</option>
                            <option value="Japanese">Japanese</option>
                            <option value="Korean">Korean</option>
                            <option value="Mediterranean">Mediterranean</option>
                            <option value="Mexican">Mexican</option>
                            <option value="Peruvian">Peruvian</option>
                            <option value="Portuguese">Portuguese</option>
                            <option value="Spanish">Spanish</option>
                            <option value="Taiwanese">Taiwanese</option>
                            <option value="Thai">Thai</option>
                            <option value="Vietnamese">Vietnamese</option>
                        </select>
                    </div>
                    <div style="height: 53px">&nbsp;</div>
                    <div class="input-group mb-3 allergy">
                        <select class="custom-select" id="allergies">
                            <option value="0" id="allergies" selected>Choose...</option>
                            <option value="1">None</option>
                            <option value="2">Bean sprouts</option>
                            <option value="3">Eggs</option>
                            <option value="4">Fish</option>
                            <option value="5">Milk</option>
                            <option value="6">Peanuts</option>
                            <option value="7">Shellfish</option>
                            <option value="8">Soy</option>
                            <option value="9">Strawberries</option>
                            <option value="10">Tree nuts</option>
                            <option value="11">Wheat</option>
                        </select>
                    </div>
                    <div style="height: 53px">&nbsp;</div>
                    <div class="input-group mb-3 drive">
                        <select class="custom-select" id="driving">
                            <option value="0" id="driving" selected>Choose...</option>
                            <option value="1">No</option>
                            <option value="2">Yes</option>
                        </select>
                    </div>
                    <div style="height: 53px">&nbsp;</div>
                    <div class="input-group mb-3 budget">
                        <select class="custom-select" id="budget">
                            <option value="0" id="budget" selected>Choose...</option>
                            <option value="1">Up to $10</option>
                            <option value="2">Up to $20</option>
                            <option value="3">Up to $30</option>
                            <option value="4">Up to $40</option>
                            <option value="5">Up to $50</option>
                            <option value="6">Up to $60</option>
                            <option value="7">Up to $70</option>
                            <option value="8">Up to $80</option>
                            <option value="9">Up to $90</option>
                            <option value="10">Up to $100</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
        </div>

        <br>
        <div class="confirm text-center">
            <a class="btn btn-danger" href="#" role="button" onclick="goBack()">Back</a>
            <a class="btn btn-success" onclick="save()" role="button">Save</a>
        </div>
        
        <script>
            function goBack() {
            window.history.back();
            }
            function save(){
                localStorage.favorite = document.getElementById("favorite").options[document.getElementById("favorite").selectedIndex].value;
                localStorage.disliked = document.getElementById("favorite").options[document.getElementById("disliked").selectedIndex].value;
                localStorage.allergies = document.getElementById("allergies").options[document.getElementById("allergies").selectedIndex].value;
                localStorage.driving = document.getElementById("driving").options[document.getElementById("driving").selectedIndex].value;
                localStorage.budget = document.getElementById("budget").options[document.getElementById("budget").selectedIndex].value;
            }
        </script>

    </body>
</html>