html, body {
    padding-bottom: 30px;
    margin: 0;
    font-family: 'Overpass', sans-serif;
}

.syncing {
    padding-top: 230px;
}

#user {
    margin: auto;
    max-width: 100%;
    text-align: left;
    height: auto;
}

#padding {
    padding-top: 10px;
}

p, h1 {
    margin: 0;
}

.navbar {
    margin-bottom: 0 !important;
    text-align: center;
    background-color: #fff;
    border: 0px;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
}

.navbar img {
    width: 23px;
    height: auto;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar-nav>li, .navbar-nav {
	float: left !important;
}


.nav>li>a:hover, .nav>li>a:focus {
    /*background-color: #00CED1!important;*/
    color: #A7DBD8!important;
    text-decoration: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-brand {
    text-align: center;
    float: none !important;
    margin-right: 35px;
}

.navbar-brand:hover {
    color: #A7DBD8!important;
}

.navbar-toggle.navbar-left {
  float: left;
  margin-left: 10px;
}

.nav2 .fa{
    color: #454545;
}

.nav2 .far{
    color: #454545;
}

.nav2 .fas{
    color: #454545;
}

.fa:hover {
    color: #A7DBD8;
}

.fas:hover {
    color: #A7DBD8;
}

.far:hover {
    color: #A7DBD8;
}

.welcome{
	margin: 30px;
}


.rest-card{
	margin-top: 30px;
    padding-bottom: 30px;
}

.btn-secondary {
    width: 100%;
    text-align: center;
}

.align-middle {
    text-align: center;
}

/* Huge Monitor*/

@media (min-width: 1524px) {
    .h1, h1 {
        padding-top: 330px;
        font-size: 50px;
    }
}


/* Mobile Portrait*/

@media (max-height: 480px) {
    .h1, h1 {
        font-size: 30px;
    }
}

@media (max-width: 425px) {
    .h1, h1 {
        font-size: 30px;
    }
}


/*Nav Bar*/

@media (max-width: 800px) {
    .navbar-header {
        float: none;
    }
    .navbar-left, .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
		
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 0px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .collapse.in {
        display: block !important;
    }
}

@media (min-width:100px) {

    .nav-collapse.collapse {
        height: auto !important;
        overflow: visible !important;
    }

}